<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
  <body>
    <br>
    <br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" class="new-listing-form">
      <div class="mb-4">
        <label for="title" class="form-label">Title:</label>
      <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" />
      </div>
      <div class="mb-4">
        <label for="description" class="form-label">Description:</label>
        <textarea
        name="listing[description]"
        placeholder="Enter description"
        class="form-control"
      ></textarea>
      </div>
      <div class="mb-4">
        <label for="Image" class="form-label">Image:</label>
      <input name="listing[image]" placeholder="Enter image URL/link" type="text" class="form-control" />
      </div>
      <div class="row">
        <div class="mb-4 col-md-4">
          <label for="price" class="form-label">Price:</label>
        <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" />
        </div>
        <div class="mb-4 col-md-8">
          <label for="country" class="form-label">Country:</label>
        <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" />
        </div>
      </div>
      
      <div class="mb-4">
        <label for="location" class="form-label">Location:</label>
      <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" />
      </div>
      <div class="d-grid mb-4">
        <button type="button" class="btn btn-primary new-list-btn">Add</button>
      </div>
      
    </form>
  </body>
  </div>
</div>
