
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Plus Jakarta Sans" , sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.allBtn{
    background-color: #fe424d !important;
    border: none !important;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: #fff;
}
.fa-compass{
    color:#fe424d ;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.f-info-links,.f-info-socials{
    width: 100%;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-link{
    text-decoration: none;
}
.card:hover{
    opacity: 0.8;
    background-color: #fff;
}

.new-list-btn{
    background-color: #fe424d !important;
    border: none !important;
    
}
/* Edit-Page */
.edit-list-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show-Page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}